<link rel="stylesheet" href="css/bootstrap.min.css">
<style type="text/css">
    #sparks li h5{
        margin: 0px 0px 0px;
    }
    .propertiy_sp{
        padding-bottom: 0px !important;
    }
    .sparks-info {
        min-width: auto !important;
    }
    .orangered{
        color: orangered !important;
    }
    .ajax-file-upload-statusbar{
        width: 100% !important;
        margin-top: 2px;
        border: none !important;
        border-radius: 0px;
    }
    .ajax-file-upload-progress {
        width:100%;
        border: none;
        border-radius: 0px;
    }
    .ajax-file-upload-bar{
        height: 1px;
        border-radius: 0px;
    }
    .ajax-file-upload-filename{
        margin-top: 1px !important;
        margin-bottom: -4px !important;
    }
    .ajax-file-upload-green{
        border-radius: 0px;
        padding: 2px 10px !important;
        text-shadow: 0;
        position: relative;
        top: -30px;
        float: right;
    }
    .ajax-upload-dragdrop{
        padding: 0px 0px 0px !important;
        width: auto !important;
        border: 1px dashed #A5A5C7 !important;
    }
    .ajax-file-upload{
        padding: 4px !important;
        font-size: 14px !important;
        font-weight: normal !important;
        background-color: #3B9FF3 !important;
        border-radius: 0px !important;
        box-shadow: none !important;
        margin-right: 4px !important;
        padding-bottom: 0px !important;
    }
    .ajax-file-upload:hover{
        background-color: #3E90D4 !important;
    }.ajax-file-upload-filename, .ajax-file-upload-red, .ajax-file-upload-abort, .ajax-file-upload-green{
        display: none !important;
    }
    .ajax-file-upload-error{
        color: #CF4762;
    }
    .bootstrap-tagsinput{
        border: thin solid #4285F4;
        min-height: 33px;
    }
    .bootstrap-tagsinput input{
        margin-top: 6px;
    }
    .bootstrap-tagsinput .label{
        display: inline-block !important;
    }
    .bootstrap-tagsinput > span{
        padding: 1px 31px 1px 4px;
    }
    .addHighlight{
        background-color: #ddd;
        padding-bottom: 10px !important;
        border: 1px solid #ccc;
        display: none;
    }
    .AvailStat{
        opacity: 1 !important;
    }
    .dispBox{
        display: inline-block;
        padding: 5px 10px;
        color: #FFF;
        width: 12px;
    }
    .Scroller{
        overflow-y: scroll; height: 240px;padding-right: 8px; 
    }
    .sortableLink{
        color: #666;
        cursor: pointer;
    }
    .sortableLink:hover{
        color: #000;
    }
    .redColor{
        color: red;
    }
    #sparks li{
        padding-right:4px !important;
    }
    .sparks-info span{
        line-height: 14px !important;
    }
    .ribbon_title{
        color: #999 !important;
        font-size: 9px !important;
        text-transform: uppercase !important;
    }
    .searchboxStyle:focus{
        width: 360px !important;
    }
    .searchboxStyle{
        width:240px;
        transition: ease-in-out, width .35s ease-in-out !important;
    }
    .orangered{
        color: orangered !important;
    }
    .filterbtn{
        color: #3E8FD3;
        padding-right: 2px;
        padding-left: 2px;
        cursor: pointer;
    }
    .filterbtn:hover{
        color: orangered;
    }
    .marquee {
        width: 100%;
        overflow: hidden;
        color: #555;
    }
    .MTile{
        color: white;
    }
    .MTHeading{
        font-size: 16px;
        padding-bottom: 2px !important;

    }
    .MTData{
        font-size: 16px;
        padding: 4px !important;
        font-weight: bolder;
        text-align: center;
    }
    .MTData span{
        padding: 4px;
        text-align: center;
    }

    .MTile{
        color: white;
    }
    .MTHeading{
        font-size: 16px;
        padding-bottom: 2px !important;

    }
    .MTData{
        font-size: 16px;
        padding: 4px !important;
        font-weight: bolder;
        text-align: center;
        padding-bottom: 8px;
    }
    .MTData span{
        padding: 4px;
        text-align: center;
    }

    .img-box .val1head{
        color: #ddd;
        font-size: 14px;
        font-style: normal;
        display: inline-block;
        top: 6px;
        position: absolute;
        padding: 6px;
    }
    .img-box .value1{
        color: white;
        font-size: 28px;
        font-style: normal;
        display: inline-block;
        top: 14px;
        position: absolute;
        padding: 6px;
    }
    .img-box .value1 i{
        color: white;
        font-size: 24px;
    }
    .img-box .val2head{
        color: #ddd;
        font-size: 14px;
        font-style: normal;
        display: inline-block;
        bottom: 44px;
        position: absolute;
        padding: 6px;
    }
    .img-box .value2{
        color: white;
        font-size: 40px;
        font-style: normal;
        display: inline-block;
        bottom: 2px;
        position: absolute;
        padding: 6px;
    }
    .img-box .value2 i{
        color: white;
        font-size: 34px;
    }
    .MTData h4 small{
        font-size: 12px;
        text-transform: uppercase;
    }
    .MTData h4{
        font-weight: bold;
        font-size: 22px;
    }
</style>
<div class="row" id="LeadControl" ng-controller="companyListControll">
    <article class="col-sm-12 col-md-12 col-lg">
        <div class="row">
            <div class="col col-lg-12  no-margin no-padding">
                <form action="" class="smart-form">
                    <div style="margin: 12px;margin-top: -4px">
                        <div class="col col-lg-12 no-margin no-padding" style="height: 36px;">
                            <div class="col col-lg-7  no-margin no-padding">
                                <ul id="sparks" style="float: left;margin: -4px 0 0;">
                                    <li class="sparks-info">
                                        <h5> <span class="ribbon_title">RESULTS</span>
                                            <span class="txt-color-blue" style="color: #3E90D4 !important;height: 16px; ">{{summery.totalcompanies}}<i style="color: #aaa; font-style: normal; font-size: 12px !important;">Found</i>
                                            </span></h5>
                                    </li>
                                    <li class="sparks-info">
                                        <h5> <span class="ribbon_title">LEADS</span>
                                            <span class="txt-color-orangeDark" style="color: #3E90D4 !important;">{{summery.total_leads}} / <b title="Closed" style="color: limegreen">{{summery.total_closed}}</b>
                                                <i style="color: #aaa; font-style: normal; font-size: 12px !important;"></i></span>
                                        </h5>
                                    </li>
                                    <li class="sparks-info">
                                        <h5> <span class="ribbon_title">PRODUCTS</span>
                                            <span class="txt-color-orangeDark" style="color: #3E90D4 !important;">{{summery.total_products}} / <b title="Closed" style="color: limegreen">{{summery.total_closed_products}}</b>
                                                <i style="color: #aaa; font-style: normal; font-size: 12px !important;"></i></span></h5>
                                    </li>
                                    <li class="sparks-info">
                                        <h5> <span class="ribbon_title">TOTAL</span>
                                            <span class="txt-color-orangeDark" style="color: #3E90D4 !important;">&#8377; {{summery.total_payment_agreed| noFractionCurrency}}
                                                <i style="color: #aaa; font-style: normal; font-size: 12px !important;"></i></span></h5>
                                    </li>
                                    <li class="sparks-info">
                                        <h5> <span class="ribbon_title">PAID</span>
                                            <span class="txt-color-orangeDark" style="color: #3E90D4 !important;">&#8377; {{summery.total_payment_agreed - summery.pending_amount| noFractionCurrency}}
                                                <i style="color: #aaa; font-style: normal; font-size: 12px !important;"></i></span></h5>
                                    </li>
                                    <li class="sparks-info">
                                        <h5> <span class="ribbon_title">PENDING</span>
                                            <span class="txt-color-orangeDark" style="color: #3E90D4 !important;">&#8377; {{summery.pending_amount| noFractionCurrency}}
                                                <i style="color: #aaa; font-style: normal; font-size: 12px !important;"></i></span></h5>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-lg-5  no-margin no-padding">
                                <a title="Target"  style="width:70px;float:right;margin-left:10px;margin-right:145px;margin-top:-7px;z-index: 0" class="btn btn-primary btn-sm" href="home.html#/gps/tracking/mapview">Map View</a>
                                <button type="button" ng-click="OpenGMap()" class="btn btn-sm btn-primary" title="Add Company" data-toggle="modal" data-target="#addNewCompany" style="width:60px;float:right;margin-left:20px;margin-top:-7px;z-index: 0" > <i class="fa fa-plus">&nbsp;&nbsp;Add</i></button>
                                <p class="textalgn" style="margin-top:-7px;text-align: right;z-index: 0">
                                    Pending Amount <strong style="color: orangered"><i class="fa fa-inr"></i> {{total_pending| numberEx}} /-</strong><br>
                                    Total  <strong style="color: #3D8DD0">{{SearchresultleadCount}}</strong> Results Found  
                                </p>
                            </div>
                        </div>
                        <div class="col col-lg-12 no-margin no-padding">
                            <div class="widget-body">
                                <div class="  table-responsive">
                                    <table class="table table-bordered table-striped table-condensed table-hover smart-form has-tickbox">
                                        <thead>                                       
                                            <tr>
                                                <td colspan="2" style="padding: 0px !important; min-width: 200px;">
                                                    <table style="width: 100%;">
                                                        <tr>
                                                            <td style="width: 100px;">
                                                                <label class="select" >
                                                                    <select ng-change="SearchLeads()" class="input-sm"  ng-model="S_Mode">
                                                                        <option  value="0">All</option>
                                                                        <option selected="" value="1">Clients</option>
                                                                        <option  value="2">Prospects</option>
                                                                    </select> <i></i> 
                                                                </label>
                                                            </td>
                                                            <td>
                                                                <label class="input">
                                                                    <input  type="text" class="input-sm"  placeholder="Customer / Location" ng-model="S_CustromerCompany" >
                                                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>Customer / Location</b>
                                                                </label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td  style="padding: 0px !important; ">
                                                    <label class="input">
                                                        <input  type="text" class="input-sm"  placeholder="Industry" ng-model="S_Industries" >
                                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>Industry</b>
                                                    </label>
                                                </td>
                                                <td  style="padding: 0px !important; min-width: 200px;">
                                                    <label class="input">
                                                        <input  type="text" class="input-sm"  placeholder="Contact / Designation" ng-model="S_ContactDesignation" >
                                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>Customer / Location</b>
                                                    </label>
                                                </td>
                                                <td style="padding: 0px !important">
                                                    <label class="input">
                                                        <input type="text" class="input-sm" id="S_FollowUpDate" placeholder="Follow Up" ng-model="S_FollowUpDate">
                                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Follow Up Date</b>
                                                    </label>
                                                </td>
                                                <td style="padding: 0px !important" colspan="2"> 
                                                    <label class="select" >
                                                        <select ng-change="SearchLeads()" class="input-sm"  ng-model="S_Mode"></select><i></i>
                                                    </label>
                                                </td>
                                                <td style="padding: 0px !important"> 
                                                    <label class="select" >
                                                        <select ng-change="SearchLeads()" class="input-sm"  ng-model="S_Mode"></select><i></i>
                                                    </label>
                                                </td>
                                                <td style="padding: 0px !important">
                                                    <label class="input">
                                                        <input type="text" class="input-sm" id="S_MinSaleValue" placeholder="Payment" ng-model="S_MinSaleValue">
                                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Payment</b>
                                                    </label>
                                                </td>
                                                <td colspan="2" style="padding: 0px !important">
                                                    <label class="input">
                                                        <input type="text" class="input-sm"  placeholder="Pending" ng-model="S_LastUpdateDate">
                                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>Profit</b>
                                                    </label>
                                                </td>
                                                <td style="padding: 0px !important;width: 56px;">
                                                    <button title="Search Leads" type="button" style="padding: 5px 5px 5px 5px !important" ng-click="SearchLeads()"  class="btn btn-primary padding-5"><i class="fa fa-search"></i></button>
                                                    <button title="Reset Leads" type="button"  ng-click="ResetSearchProperty()" class="btn btn-danger padding-5"><i class="fa fa-refresh"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="width: 16px;">
                                                    <label  class="checkbox" title="Select All" style="margin-top: 5px !important;" >
                                                        <input id="allcheck" ng-click="checkAll()" style="padding-left: 0px;" type="checkbox" name="checkbox-inline">
                                                        <i></i>
                                                    </label>
                                                </th>
                                                <th >Customer / Location</th>
                                                <th >Industry</th>
                                                <th >Contact / Designation</th>
                                                <th style="width: 80px;">Follow Up <i ng-click="SortByFollowUpDate()" class="fa fa-sort sortableLink"></i>
                                                </th>
                                                <th style="width: 90px;">Leads </th>
                                                <th style="width: 90px;">Products </th>
                                                <th style="width: 100px;">Total <i ng-click="SortByFollowUpDate()" class="fa fa-sort sortableLink"></i>
                                                </th>
                                                <th style="width: 100px;" >Received <i ng-click="SortByFollowUpDate()" class="fa fa-sort sortableLink"></i></th>
                                                <th style="width: 100px;" >Pending <i ng-click="SortByFollowUpDate()" class="fa fa-sort sortableLink"></i></th>
                                                <th style="width: 100px;"  >Profit <i ng-click="SortByFollowUpDate()" class="fa fa-sort sortableLink"></i></th>
                                                <th style="width: 30px;">Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="company in CompanyManagement" >
                                                <td>
                                                    <label class="checkbox lead_check" style="width: 18px;;margin-top: 5px !important;" title="Select This Lead">
                                                        <input id="{{company.leads_master_id}}" class="lead_check" value="{{company.leads_master_id}}"  ng-checked="selection.indexOf(company.leads_master_id) > -1" ng-click="toggleSelection(company.leads_master_id);
                                                                                        $event.stopPropagation();" type="checkbox" name="checkbox-inline">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <div  style="margin-top: -3px;" >
                                                        <!--                                                                <i ng-if="(company.dealer_id != 0 && company.dealer_id != '' && company.dealer_id != null)" style="color: orangered" class="fa fa-external-link" title="Dealer : {{company.dealer_name}}"></i>-->
                                                        <a ng-show="company.client_company_website != '' && company.client_company_website != null" target="_blank" href="http://{{company.client_company_website}}" title="click Here To Visit Web Site"><i class="fa fa-external-link "></i></a> 
                                                        <strong>{{company.client_company_name| limitTo:18}}<span ng-if="company.client_company_name.length > 18">..</span></strong>
                                                        <!--<strong ng-if="(company.dr_status == 1)" style="color: orangered; font-size: 10px;" title="DR is Applied">DR</strong>-->
                                                    </div>
                                                    <div style="margin-top: -4px;">
                                                        <a ng-show="company.client_company_google_url != '' && company.client_company_google_url != null" target="_blank" href="{{company.client_company_google_url}}" title="click Here To Visit Google Map"><i class="fa fa-map-marker redColor"></i></a> 
                                                        {{company.client_company_location| limitTo:20}}<span ng-if="company.client_company_location.length > 20">..</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div  style="margin-top: -3px;" >
                                                        <strong>{{company.company_industry| limitTo:18}}
                                                            <span ng-show="company.company_industry == null">Other</span>
                                                            <span ng-if="company.company_industry.length > 18">..</span></strong>
                                                    </div>
                                                    <div style="margin-top: -4px;">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div  style="margin-top: -3px;" >
                                                        <strong>{{company.client_company_customer_name| limitTo:18}}<span ng-if="company.client_company_customer_name.length > 18">..</span></strong>
                                                    </div>
                                                    <div style="margin-top: -4px;">
                                                        {{company.client_company_customer_designation| limitTo:20}}<span ng-if="company.client_company_customer_designation.length > 20">..</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div  style="margin-top: -3px;" ng-class="{
                                                                    orangered:(company.lead_folow_up_date_left < 0)
                                                               }" ng-if="company.lead_folow_up_date != null && company.lead_folow_up_date != '0000-00-00'"><i class="fa fa-calendar-o"></i><strong> {{toDatestamp(company.lead_folow_up_date) | hideIfEmptyDate:'dd-MMM'}}</strong></div>
                                                    <div ng-class="{
                                                                    orangered:(company.lead_folow_up_date_left < 0)
                                                               }" style="margin-top: -4px; color: #888;" ng-if="company.lead_folow_up_date != null && company.lead_folow_up_date != '0000-00-00'">{{company.lead_follow_up_time}}</div>
                                                </td>
                                                <td >
                                                    <table style="width: 100%;" ng-show="company.total_leads != 0">
                                                        <tr>
                                                            <td>
                                                                <div title="{{company.total_leads}}" style="margin-top: -3px;font-size: 16px;" ><strong>{{company.total_leads}}</strong></div>
                                                                <div ng-show="company.total_leads != 0" style="margin-top: -4px;font-size: 10px">Total</div>
                                                            </td>
                                                            <td style="width: 45%;">
                                                                <div ng-show="company.closed_leads != 0" style="margin-top: -3px;font-size: 10px;" >Closed</div>
                                                                <div ng-show="company.closed_leads != 0" title="{{company.closed_leads}}" style="margin-top: -4px;padding-left: 10px;font-size: 16px;">
                                                                    <strong>{{company.closed_leads}}</strong>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td >
                                                    <table style="width: 100%;" ng-show="company.total_products != 0">
                                                        <tr>
                                                            <td>
                                                                <div title="{{company.total_products}}" style="margin-top: -3px;font-size: 16px;" ><strong>{{company.total_products}}</strong></div>
                                                                <div style="margin-top: -4px;font-size: 10px" ng-show="company.total_products != null">Total</div>
                                                            </td>
                                                            <td style="width: 45%;">
                                                                <div ng-show="company.closed_products != 0" style="margin-top: -3px;font-size: 10px;" >Closed</div>
                                                                <div ng-show="company.closed_products != 0" title="{{company.closed_products}}" style="margin-top: -4px;padding-left: 10px;font-size: 16px;">
                                                                    <strong>{{company.closed_products}}</strong>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <span> 
                                                        <div  style="margin-top: -1px;font-size: 16px;line-height: 28px;" ng-if="company.total_payment_agreed != 0 && company.total_payment_agreed != null"><strong><i class="fa fa-inr"></i> {{company.total_payment_agreed| noFractionCurrency }}/-</strong></div>
                                                        <!--                                                        <div  style="margin-top: -3px;" ng-if="company.total_paid != 0 && company.total_paid != null"><strong><i class="fa fa-inr"></i>{{company.total_paid| noFractionCurrency }}/-</strong></div>-->
                                                    </span>
                                                </td>

                                                <td style="width: 70px;">
                                                    <div title="{{company.total_paid}}" style="margin-top: -1px;font-size: 16px;line-height: 28px;" ><strong><i class="fa fa-inr"></i> {{company.total_paid| noFractionCurrency}}</strong></div>

                                                </td>
                                                <td>
                                                    <div title="{{company.pending_amount}}" style="margin-top: -1px;font-size: 16px;line-height: 28px;" ><strong><i class="fa fa-inr"></i> {{company.pending_amount| noFractionCurrency}}</strong></div>

                                                </td>
                                                <td >
                                                    <div  style="margin-top: -1px;" ng-if="company.pending_amount != 0 && company.pending_amount != null"><strong style="font-size: 16px;line-height: 28px;color: orangered"><i class="fa fa-inr"></i> {{company.pending_amount| noFractionCurrency }}/-</strong></div>
                                                    <a style="display: none;" id="clicktoView_{{company.leads_master_id}}" href="ajax/general/viewlead.php?lid={{company.leads_master_id}}&uid={{CurrentUser_ID}}&rmode={{PendingActivityOverD}}" data-toggle="modal" data-target="#AddLead" >
                                                        <button title="View Lead" type="button" ng-click="AddMoreData($index)"   class="btn btn-primary padding-5" ><i class="fa fa-eye"></i>-{{company.activity[0].totalActivity}}</button></a>
                                                </td>
                                                <td style="width: 0px;padding: 0px !important;padding-top: 4px !important;">
                                                    <button style="margin-top: -4px;padding-bottom: 8px !important;padding-top: 8px !important;"  data-toggle="modal" data-target="#editCompany"  ng-show="PrivilagetoEditLead && (PendingActivityOverD || company.lead_folow_up_date_left <= 2)" ng-if="(company.lead_created_user_id != CurrentUser_ID && company.lead_assigned_user_id == CurrentUser_ID) || company.lead_assigned_user_id == CurrentUser_ID || !ViewOnlyOwnLeads" title="Edit Lead" type="button"   class="btn btn-primary btn-md" ng-click="LoadClientCompany(company.client_company_id)"><i class="fa fa-edit"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="loadingBar" style="background-color: white; border: 1px solid #ddd; padding: 6px">
                                        <img src="img/294.GIF" height="18"> &nbsp; &nbsp; Loading... Please Wait a bit.
                                    </div>
                                    <div id="NoMoreDataBar" style="background-color: white; border: 1px solid #ddd; padding: 6px; display: none;">
                                        <i class="fa fa-times"></i> &nbsp; &nbsp; No More Data is available
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row " style="margin: 10px; margin-top: 0px; padding: 2px;"> 
                        <div ng-if="LeadsManagement.length == 0" class="col col-lg-12 " style="margin-top: 10px; padding: 10px; background-color: #ccc; border: 1px solid #ddd;" >
                            <h2>
                                Sorry !<br>
                                <small> There is No Result Found</small>
                            </h2>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="AddLead" style="height: 100vh;margin: auto; margin-top: 3%;" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">  
            <div class="modal-dialog hidden-sm hidden-xs" style="width:80%">  
                <div class="modal-content">
                </div>  
            </div>
            <div class="modal-dialog visible-sm visible-xs" style="width:95%">  
                <div class="modal-content">
                </div>  
            </div>
        </div> 
        <div class="modal fade" id="UpdateLead" style="height: 100vh;margin: auto; margin-top: 4%;" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">  
            <div class="modal-dialog">  
                <div class="modal-content">
                </div>  
            </div>  
        </div> 
        <div class="modal fade" id="ViewProperty" style="height: 100vh;margin: auto; margin-top: 2%;" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">  
            <div class="modal-dialog">  
                <div class="modal-content" style="height: 100%;">
                </div>  
            </div>  
        </div>
        <div class="modal fade" id="AddNewSource" style="height: 100vh;margin: auto; margin-top: 8%;" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">  
            <div class="modal-dialog" style="width: 600px;">  
                <div class="modal-content" style="height: 400px;">
                </div>  
            </div>  
        </div> 
        <div class="modal fade" id="WarningPopUp" style="height: 100vh;margin: auto; margin-top: 8%;" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">  
            <div class="modal-dialog" style="width: 600px;">  
                <div class="modal-content" style="height: 200px;">
                </div>  
            </div>  
        </div> 
        <div class="modal fade" id="addNewCompany" style="height: 100vh;margin: auto; margin-top: 4%;" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">  
            <div class="modal-dialog col  col-lg-8" style="text-align: center;float: none;max-width: 800px;">  
                <div class="modal-content" ng-include="'ajax/general/companyone.php?master_cid=' + master_company_id" style="min-height: 500px;">
                </div>  
            </div>
        </div> 
        <div  class="modal fade" id="editCompany" style="height: 100vh;margin: auto; margin-top: 4%;" tabindex="-1" role="dialog" aria-labelledby="remoteModalLabel" aria-hidden="true">  
            <div class="modal-dialog col  col-lg-8" style="text-align: center;float: none;max-width: 800px;">  
                <div class="modal-content" ng-include="'ajax/general/companytwo.php?master_cid=' + master_company_id" style="min-height: 500px;">
                </div>  
            </div>
        </div> 

    </article>
</div>
<script type="text/javascript">
                    var tdt = new Date();
                    var dd = tdt.getDate();
                    var mm = tdt.getMonth() + 1; //January is 0!
                    var yyyy = tdt.getFullYear();
                    if (dd < 10) {
                        dd = '0' + dd;
                    }
                    if (mm < 10) {
                        mm = '0' + mm;
                    }
                    var tdt = dd + '.' + mm + '.' + yyyy;
                    $('#FromDate').datepicker({
                        dateFormat: 'dd-mm-yy',
                        prevText: '<i class="fa fa-chevron-left"></i>',
                        nextText: '<i class="fa fa-chevron-right"></i>'
                    });
                    $('#ToDate').datepicker({
                        dateFormat: 'dd-mm-yy',
                        prevText: '<i class="fa fa-chevron-left"></i>',
                        nextText: '<i class="fa fa-chevron-right"></i>'
                                //minDate: tdt
                    });
                    $('#S_LastUpdate').datepicker({
                        dateFormat: 'dd-mm-yy',
                        prevText: '<i class="fa fa-chevron-left"></i>',
                        nextText: '<i class="fa fa-chevron-right"></i>'
                    });
                    $('#S_FollowUpDate').datepicker({
                        dateFormat: 'dd-mm-yy',
                        prevText: '<i class="fa fa-chevron-left"></i>',
                        nextText: '<i class="fa fa-chevron-right"></i>'
                                //minDate: tdt
                    });
                    $('#S_ExpectedClosureDate').datepicker({
                        dateFormat: 'dd-mm-yy',
                        prevText: '<i class="fa fa-chevron-left"></i>',
                        nextText: '<i class="fa fa-chevron-right"></i>'
                                //minDate: tdt
                    });</script>